[submodule "lib/http-js"]
	path = lib/http-js
	url = git@github.com:waygate-io/http-js
[submodule "lib/fs-js"]
	path = lib/fs-js
	url = git@github.com:waygate-io/fs-js
[submodule "lib/omnistreams-js"]
	path = lib/omnistreams-js
	url = git@github.com:omnistreams/omnistreams-js
